.container {
    background-color: aqua;
    text-align: left;
    padding: 0 600px ;
 } 
 p {
 color: blue;
 font-size: 20px;
 font-style: oblique;
 }
 
 h1 {
    font-size: 40px;
    font-style: inherit;
 }
 
 h3 {
    font-size: 30px;
    font-style: unset;
 }
 
 h5 {
    font-size: 25px;
 }